.panel {
  grid-area: sidebar;
  background-color: #918e9f;
  padding: 20px;
}
.item a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-size: x-large;
}

.item a:link {
  color: #dfc64f;
}

.item a:hover {
  color: #ffe6c1;
  cursor: pointer;
}

.item a.active {
  color: #ffe6c1;
}
