/* .panorama {
  height: 120px;
  width: 100%;
  box-shadow: 3px 3px 6px 4px #888;
  opacity: 0.8;
}

.infoPanel img {
  width: 200px;
  height: 200px;
  border-radius: 20%;
}

.contact {
  padding-left: 10px;
} */
