/*#3E9175*/
.app-wrapper {
  display: grid;

  grid-template-areas:
    "header header header"
    "sidebar content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}